extends ../layout

block content
    link(rel='stylesheet', href='/css/info.css')
    
    script.
        $( function() {
            $("#startDate").datepicker({defaultDate: new Date()}).val(moment().format('YYYY-MM-DD'));
            $("#endDate").datepicker({defaultDate: new Date()}).val(moment().format('YYYY-MM-DD'));
        });

        const infoSearching = () => {
            const kind = $("select[name= selectSetting]").val();
            const year = $("select[name= selectYear]").val();
            const quarter = $("select[name= selectQuarter]").val();
            const month = $("select[name= selectMonth]").val();
            const week = $("select[name= selectWeek]").val();

            const startDate = $("input[name= startDate]").val();
            const startTime = $("select[name= startTime]").val();
            const endDate = $("input[name= endDate]").val();
            const endTime = $("select[name= endTime]").val();

            searchResult();
            search();
        }

        const searchResult = () => {
            $.ajax({
                url: "/dataCheck/api/stats",
                data: {
                    'kind': $("select[name= selectSetting]").val(),
                    'startDate': $("input[name= startDate]").val(),
                    'startTime': $("select[name= startTime]").val(),
                    'endDate': $("input[name= endDate]").val(),
                    'endTime': $("select[name= endTime]").val(),
                    'year': $("select[name= selectYear]").val(),
                    'quarter': $("select[name= selectQuarter]").val(),
                    'month': $("select[name= selectMonth]").val(),
                    'week': $("select[name= selectWeek]").val()
                },
                type: 'get',
                dataType: 'html',
                contentType: 'application/json',
                success: (result) => {
                    $("#statsInfo > tbody").html(result);
                    console.log("success");
                },
                error: (err) => {
                    console.log("err")
                }
            })
        }

        const search = () => {
            $.ajax({
                data: {
                    'kind': $("select[name= selectSetting]").val(),
                    'year': $("select[name= selectYear]").val(),
                    'quarter': $("select[name= selectQuarter]").val(),
                    'month': $("select[name= selectMonth]").val(),
                    'week': $("select[name= selectWeek]").val(),
                    'startDate': $("input[name= startDate]").val(),
                    'startTime': $("select[name= startTime]").val(),
                    'endDate': $("input[name= endDate]").val(),
                    'endTime': $("select[name= endTime]").val()
                },
                type: 'get',
                dataType : 'html',
                url: "/dataCheck/api/search",
                contentType: 'application/json',
                success: (result) => {
                    $("#info-table > tbody").html(result);
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

        const selectFrom = (e) => {
            if(e.value != 'custom') {
                document.getElementsByName("startDate")[0].disabled = true;
                document.getElementsByName("startTime")[0].disabled = true;
                document.getElementsByName("endDate")[0].disabled = true;
                document.getElementsByName("endTime")[0].disabled = true;
            } else {
                document.getElementsByName("startDate")[0].disabled = false;
                document.getElementsByName("startTime")[0].disabled = false;
                document.getElementsByName("endDate")[0].disabled = false;
                document.getElementsByName("endTime")[0].disabled = false;
            }

            if(e.value == 'year') {
                document.getElementsByName("selectYear")[0].style.display = 'inline';
            } else {
                document.getElementsByName("selectYear")[0].style.display = 'none';
            }

            if (e.value == 'quarter') {
                document.getElementsByName("selectYear")[0].style.display = 'inline';
                document.getElementsByName("selectQuarter")[0].style.display = 'inline';
            } else {
                document.getElementsByName("selectQuarter")[0].style.display = 'none';
            }

            if (e.value == 'month') {
                document.getElementsByName("selectYear")[0].style.display = 'inline';
                document.getElementsByName("selectMonth")[0].style.display = 'inline';
            } else {
                document.getElementsByName("selectMonth")[0].style.display = 'none';
            }

            if (e.value == 'week') {
                document.getElementsByName("selectYear")[0].style.display = 'inline';
                document.getElementsByName("selectWeek")[0].style.display = 'inline';
                document.getElementsByName("selectMonth")[0].style.display = 'inline';
            } else {
                document.getElementsByName("selectWeek")[0].style.display = 'none';
            }
        }

    #info-container.container-fluid
        .row.info-title
            .col-12 측정자료 조회
        .row.info-search
            .col-12
                .row
                    .col-2 ■ 기간설정
                    .col-10
                        select#selectSetting(name="selectSetting" style="width:200px" onchange="selectFrom(this)")
                            option(value="custom") 사용자 지정
                            option(value="year") 연간
                            option(value="quarter") 분기간
                            option(value="month") 월간
                            option(value="week") 주간
                        select#selectYear(name="selectYear" style="display:none; width:100px")
                            -for (let i = 2020; i >= 2006; i--)
                                option(value=i)= i + '년'
                        select#selectQuarter(name="selectQuarter" style="display:none; width:100px")
                            -for (let i = 1; i <= 4; i++)
                                option(value=i)= i + '사분기'
                        select#selectMonth(name="selectMonth" style="display:none; width:100px")
                            -for (let i = 1; i <= 12; i++)
                                option(value=i)= i + '월'
                        select#selectWeek(name="selectWeek" style="display:none; width:100px")
                             -for (let i = 1; i <= 6; i++)
                                 option(value=i)= i + '주차'
                .row
                    .col-2 ■ 시작날짜
                    .col-10
                        input#startDate(type="text", name="startDate")
                        select#starTime(name="startTime")
                            -for (let i = 1; i < 25; i++)       // 시간
                                option(value = i < 10 ? '0' + (i- 1) : i - 1)= i < 10 ? '0' + i + '시' : i + '시'
                .row
                    .col-2 ■ 종료날짜
                    .col-10
                        input#endDate(type="text", name="endDate")
                        select#endTime(name="endTime")
                            -for (let i = 1; i < 25; i++)       // 시간
                                option(value = i < 10 ? '0' + (i - 1) : i - 1)= i < 10 ? '0' + i + '시' : i + '시'
                        button.btn.btn-primary(onClick='infoSearching()') 검색

        .row.info-search
            .col-12
                div 측정통계(수치)
                    table#statsInfo
                        thead
                            tr
                                th(scope='cols' style="width:29%") ■ 좋음(초미세/미세)
                                th(scope='cols' style="width:29%") ■ 보통(초미세/미세)
                                th(scope='cols' style="width:29%") ■ 나쁨(초미세/미세)
                                th(scope='cols' style="width:29%") ■ 매우나쁨(초미세/미세)
                        tbody
                            tr
                                td #{initData[0].fine_good_cnt} 회
                                td #{initData[0].fine_normal_cnt} 회
                                td #{initData[0].fine_bad_cnt} 회
                                td #{initData[0].fine_soBad_cnt} 회
                            tr
                                td #{initData[0].ultraFine_good_cnt} 회
                                td #{initData[0].ultraFine_normal_cnt} 회
                                td #{initData[0].ultraFine_bad_cnt} 회
                                td #{initData[0].ultraFine_soBad_cnt} 회

        .row.info-table
            .col-12
                div 측정자료(수치)
                table#info-table
                    thead
                        tr
                            th(rowspan="2") 날짜<br/>(년-월-일)
                            th(colspan="2") PM<pre>10</pre><br/>(㎍/㎥)
                            th(colspan="2") PM<pre>2.5</pre><br>(㎍/㎥)
                            th(rowspan="2") 풍향
                            th(rowspan="2") 풍속(m/s)
                            th(rowspan="2") 온도
                            th(rowspan="2") 습도
                        tr
                            th(colspan="2") 1시간
                            th(colspan="2") 1시간
                    tbody
                        each map in datas
                            tr
                                td #{map.rgst_dt}
                                td(class=map.dustStatus) ● 최대 미세
                                td #{map.dust}
                                td(class=map.ultrafineStatus) ● 최대 초미세
                                td #{map.ultrafine}
                                td
                                    img.wind-direction-icon(src="images/arrow-icon.png", alt="wind-direction" style={ width: '40px', transform: `rotate(${map.windDirection}deg)`})
                                td #{map.windSpeed} (m/s)
                                td #{map.temperature} °C
                                td #{map.humidity} %