extends ../layout

block content
  link(rel='stylesheet', href='/css/info.css')
  script.
    $( function() {
      $("#startDate").datepicker({});
      $("#endDate").datepicker({});
    });

    const infoSearching = () => {
      const form =  document.getElementById("infoSearchForm");
      
      $.ajax({
        data: {
          'time': $("[name=time]:checked").val(),
          'startDate': form.startDate.value,
          'startTime': form.startTime.value,
          'endDate': form.endDate.value,
          'endTime': form.endTime.value,
        }, 
        type: 'get', 
        dataType : 'html', 
        url: "/info/api/search", 
        contentType: 'application/json', 
        success: (result) => {
          $("#info-table > tbody").html(result);
        },
        error: (err) => {
          console.log(err)
        }
      })
    }
  #info-container.container-fluid
    .row.info-title
      .col-12 측정자료 조회
    .row.info-search
      .col-12
        .row
          .col-2 ■ 데이터 구분
          .col-10 
            label
              input#time(type="radio", name="time", value="13", checked=true)
              | 시간
            label
              input#day(type="radio", name="time", value="10")
              | 일평균
        .row
          .col-2 ■ 조회기간
          .col-10 
            form#infoSearchForm(name="infoSearchForm", method="get")
              input#startDate(type="text", name="startDate", value="2020-04-24")
              select#startTime(name="startTime")
                -for (let i = 1; i < 25; i++)
                  option(value=i < 10 ? '0' + i : i)= i < 10 ? '0' + i : i
              |  
              input#endDate(type="text", name="endDate", value="2020-04-24")
              select#endTime(name="endTime")
                -for (let i = 1; i < 25; i++)
                  option(value=i < 10 ? '0' + i : i)= i < 10 ? '0' + i : i
            button.btn.btn-primary(onClick='infoSearching()') 검색
            //- button.btn.btn-primary 그래프보기
            //- button.btn.btn-primary 엑셀
    .row.info-table
      .col-12
        div 측정자료(수치) 
        table#info-table
          thead
            tr
              th(rowspan="2") 날짜<br/>(월-일-시)
              th(colspan="2") PM<pre>10</pre><br/>(㎍/㎥)
              th(colspan="2") PM<pre>2.5</pre><br>(㎍/㎥)
            tr
              th(colspan="2") 1시간
              th(colspan="2") 1시간
          tbody
            each map in datas
              tr
                td #{map.rgst_dt}
                td(class=map.dustStatus) ●
                td #{map.dust}
                td(class=map.ultrafineStatus) ●
                td #{map.ultrafine}
        //- .print-btn
        //-   button.btn.btn-primary 인쇄  

