link(rel='stylesheet', href='/css/realTime.css')
#realTime-container.container-fluid
  .row
    .col-6.mapBox 
      .map
    .col-5.infoBox
      .col-12.info 
        .row.info-title
          .col-12 
            span 우리동네 대기정보 
            button.btn.btn-primary.search-btn 측정소 검색
        .row
          .col-12 동구 을(를) 중심으로 측정한 대기질정보
        .row.info-circle-chart
          #pm2-5-circle
            canvas(id="chartPic" width="400" height="176")
            div#circle-chart-needle
          #pm2-5-circle-text.col-4 
            div #{today}
            div ● 1시간: #{UltrafineHour}ug/m^2
            div ● 24시간: #{UltrafineDay}ug/m^2
        .row
          table#dust-value-table
            thead
              tr
                th 항목
                th 등급
                th 측정값
                th 항목 
                th 등급
                th 측정값
            tbody
              tr
                td.legend(rowspan="2") 초미세먼지(PM<sub>2.5</sub>)
                td(rowspan="2") ㅇ
                td #{UltrafineHour}㎍/㎥(1h)
                td.legend(rowspan="2") 미세먼지(PM<sub>10</sub>)
                td(rowspan="2") ㅇ
                td #{dustHour}㎍/㎥(1h)
              tr
                td #{UltrafineDay}㎍/㎥(24h)
                td #{dustDay}㎍/㎥(24h)
        .row.info-line-chart
          #pm2-5-chart.col-12   
            canvas(id="chartPic2" width="400" height="176")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
            script(type='text/javascript').
              window.onload = function() {
                var data = "#{data}";
                document.querySelector("#circle-chart-needle").style.transform = `rotate(${(180 * data / 100) + -90}deg)`
                var ctx = document.getElementById("chartPic").getContext('2d');
                var chart = new Chart(ctx,  {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                          data: [15, 25, 50, 15],
                          backgroundColor: ["#24a6e1", "#24e124", "#dae124", "#e12424"],
                          borderColor: ["#24a6e1", "#24e124", "#dae124", "#e12424"],
                          borderWidth: 1
                        }],
                        labels: ['매우 좋음', '좋음', '나쁨', '매우 나쁨']
                      },
                    options: {
                      cutoutPercentage: 65,
                      circumference: Math.PI,
                      rotation: -Math.PI,
                      title: { 
                        display: true,
                        text: "PM2.5",
                      },
                      legend: {
                        display: false
                      },
                    }
                  });
                  
                var lineGraphData = JSON.parse('!{JSON.stringify(lineGraphData)}');
                var ctx2 = document.getElementById("chartPic2").getContext('2d');
                var chart2 = new Chart(ctx2,  {
                    type: 'bar',
                    data: {
                        labels: lineGraphData.map((d, index) => { return d.rgstDt.split(" ")[1] }),
                        datasets: [{
                          label: 'PM2.5',
                          data: lineGraphData.map(d => { return d.value }),
                          backgroundColor: lineGraphData.map(d => { if(d.value > 35) { return "#DAE124" } else {return "#24A6E1"} }),
                        }]
                      },
                    options: {
                      title: { 
                        display: true,
                        text: "PM2.5",
                      },
                      legend: {
                        display: false
                      },
                      scales: {
                        xAxes: [{
                          ticks: {
                            fontSize: 10
                          }
                        }],
                        yAxes: [{
                          ticks: {
                            fontSize: 15
                          }
                        }]
                      }
                    }
                  });
              }
